.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader img {
    width: 35rem;
}