@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

/* Variables */


/* End Variables */


/* Global Rules */

:root {
    --main-color: #10cab7;
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

body {
    font-family: "Work Sans", sans-serif;
}

img {
    width: auto;
    height: auto;
}

.container {
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}


/* End Global Rules */


/* header */

.header {
    padding: 20px;
    padding-left: 5px;
}

.header .container {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
    /* margin-left: 5%; */
}

.header .links {
    position: absolute;
    right: 7%;
}

.header .links .icon {
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    background-color: #f6f6f6;
    position: absolute;
    right: 0px;
    min-width: 150px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1000;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.header .links ul li a:hover {
    padding-left: 25px;
    color: rgb(242, 77, 204);
    text-shadow: 2px 2px 4px #4b56ef;
    text-transform: uppercase;
}


/* end header */


/* responsive */


/* small */

@media (max-width: 768px) {
    .container {
        width: 750px;
    }
    .slideshow-container {
        width: 750px;
    }
    .mySlides img {
        width: 87%;
        height: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .slideshow-container {
        width: 970px;
    }
}


/* large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .slideshow-container {
        max-width: 1170px;
    }
}