/* section {
    padding: 2rem 7%;
} */

#headerpromos {
    padding: 20px;
    padding-left: 5px;
}

.home {
    min-height: 80vh;
    align-items: center;
    background-size: 55% 60%;
    background-position: right center;
}

.home .row {
    margin: 0px 30px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    justify-content: space-between;
}

.home img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 250px;
    height: 200px;
}

.home .image img {
    width: 100%;
    height: 100%;
}

.home .content {
    display: block;
    width: 240px;
    height: 120px;
    text-align: center;
}

.home i {
    color: green;
    font-size: 30px;
    padding-right: 3%;
}

.home .imgprix {
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
}

.home .card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    max-height: 100%;
    text-align: center;
    font-family: arial;
    float: left;
    border: 1px solid gray;
    align-content: space-between;
    transition: 0.5s;
}

.home .card:hover {
    transform: scale(1.1);
    filter: grayscale(80%);
}

.home h2 {
    font-size: large;
    text-align: center;
    margin: 1%;
    padding: 14px;
    height: 50px;
    border-bottom-left-radius: 70%;
    border-top-right-radius: 70%;
    /* border: 2px solid rgba(7, 130, 245, 0.788); */
    background-color: black;
    /* border-bottom: 2px solid rgba(245, 7, 225, 0.788); */
    color: rgb(252, 250, 250);
    font-family: "Nunito", sans-serif;
}

#hammam {
    margin-top: 10%;
}

.home .title {
    color: grey;
    font-size: 18px;
    margin-bottom: 5%;
}

.home button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgba(14, 1, 12, 0.788);
    /* border: 0 4px 8px 0 rgba(245, 7, 225, 0.788); */
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
}

.home a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.home button:hover,
a:hover {
    opacity: 0.7;
}