/* slide1 */

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: 80%;
}

.slideshow-container {
    max-width: 1170px;
    max-height: 775px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    /* height: calc(100vh - 139px); */
    z-index: 100;
    align-items: center;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}