/* slide1 */

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: 90%;
}

.slideshow-container {
    max-width: 1170px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    height: calc(100vh - 139px);
    z-index: 100;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}


/* responsive */


/* small */


/* @media (max-width: 768px) {
    .container {
        width: 750px;
    }
    .mySlides img {
        height: 70%;
    }
} */


/* medium */


/* @media (min-width: 992px) {
    .container {
        width: 970px;
    }
} */


/* large */


/* @media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
} */